django
gunicorn
whitenoise[brotli]
django-jazzmin
django-tinymce
django-colorfield
django-cors-headers
pillow
python-decouple
sweetify
django-after-response
celery
sqlalchemy
django-celery-results
openpyxl
reportlab
qrcode[pil]
